extends layout.pug

block content

  article.portfolio-intro

    
    h1.titles  Project Porfolio

    p Here are some things that I have built with HTML, CSS and JavaScript and a few with React.  I'm regularly updating this page as I build more things.

    p This portfolio site was built with the Express framework, Node.js and the Pug template engine. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      each project in projects
        .cell
          a(href=`/project/${project.id}` target="_blank")
            img.thumbnail(src=`${project.main_image}`, alt=`A thumbnail of the project ${project.project_name}`)
            h5= project.project_name 

